@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,600;1,400;1,600&family=Dela+Gothic+One&family=Encode+Sans+SC:wght@200;400&family=M+PLUS+Code+Latin:wght@200;400&family=Oswald:wght@300;400&family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap");
/* ----- Colores ----- */
/* ----- Mixins ----- */
/* ----- Extends ----- */
html body main .panelRespuestabusqueda #btnCancelarBusqueda .btn {
  display: flex;
  justify-content: center;
  align-items: center; }

html body main .contenedor {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 3px 3px 12px 6px black; }

html body main .panelRespuestabusqueda #btnCancelarBusqueda, html body main .contenedor .panelForm .btn, html body main .contenedor .panelRespuesta .btn, html body main .contenedor .panelPrestamo .btn {
  width: 150px;
  background-color: #c8ca66;
  color: black;
  border: none;
  box-shadow: 3px 3px black; }

/*! Media_Query 900px */
/*! Media_Query 750px */
/*! Media_Query 600px */
/*! Media_Query 450px */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.ventanaClass {
  width: 70%;
  height: auto;
  padding: 3rem;
  background-color: #fdfd96;
  border-radius: 15px; }

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-color: #e2e37e; }
  html body {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Cabin", sans-serif;
    background-color: #fdfd96; }
    html body header {
      width: 100%; }
      html body header nav {
        background-color: #e2e37e; }
      html body header form {
        width: 25%; }
        html body header form .btn {
          width: 150px;
          background-color: #fdfd96;
          color: black;
          border: none;
          box-shadow: 3px 3px black; }
    html body main {
      width: 80%;
      display: flex;
      flex-direction: column;
      margin: 100px 0; }
      html body main .panelRespuestabusqueda {
        width: 100%; }
        html body main .panelRespuestabusqueda #btnCancelarBusqueda {
          display: none; }
      html body main .contenedor {
        width: 70%;
        margin: 30px auto;
        background-color: #fffec2; }
        @media screen and (max-width: 750px) {
          html body main .contenedor {
            width: 85%; } }
        @media screen and (max-width: 450px) {
          html body main .contenedor {
            width: 95%; } }
        html body main .contenedor .panelForm {
          width: 95%;
          margin-top: 30px; }
        html body main .contenedor .panelRespuesta {
          width: 95%; }
        html body main .contenedor .panelPrestamo {
          width: 95%;
          display: none;
          margin-bottom: 30px; }
