@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eczar", serif;
  background-color: lightblue;
  width: 100vw;
  height: 100vh;
  font-size: 14px; }
  html body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    html body .contenedor {
      margin-top: 200px;
      background-color: white;
      width: 40%; }
      html body .contenedor .title {
        font-size: 2.8rem; }
      html body .contenedor input {
        margin: 10px 10px;
        padding: 35px; }
      html body .contenedor .info p {
        font-size: .9rem; }
      html body .contenedor .btn {
        width: 50%; }
