@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

$font-principal : 'Eczar',
serif;

html {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: $font-principal;
   background-color: lightblue;
   width: 100vw;
   height: 100vh;
   font-size: 14px;

   body {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .contenedor {
         margin-top: 200px;
         background-color: white;
         width: 40%;

         .title {
            font-size: 2.8rem;
         }

         input {
            margin: 10px 10px;
            padding: 35px;
         }

         .info {
            p {
               font-size: .9rem;
            }
         }

         .btn {
            width: 50%;
         }
      }
   }
}