@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

$font-principal : 'Eczar',
serif;

html {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: $font-principal;
   background-color: lightblue;
   font-size: 14px;

   body {
      width: 100vw;
      height: 100vh;
      display: flex;


      main {
         width: 100%;
         margin: auto;
         display: flex;
         background-color: lightcoral;

         .contenedor {
            width: 45%;
            margin: 100px auto;
            background-color: white;
            height: auto;

            .panelSimulacion {
               height: auto;

               .consultaForm {
                  height: auto;

                  .title {
                     font-size: 2.8rem;
                  }


                  .info {
                     p {
                        font-size: .9rem;
                     }
                  }

                  input {
                     padding: auto;
                  }

                  .btn {
                     width: 50%;
                  }
               }
            }

            .panelPrestamo {
               display: none;

               .prestamoForm {
                  height: auto;

                  .title {
                     font-size: 2.8rem;
                  }

                  input {
                     padding: auto;
                  }

                  .btn {
                     width: 50%;
                  }
               }
            }
         }
      }
   }
}