* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.ventanaClass {
  width: 70%;
  height: auto;
  padding: 3rem;
  background-color: $Color-Medio;
  border-radius: 15px;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-color: $Color-Oscuro2;


  body {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $fuenteCabin;
    background-color: $Color-Medio;

    header {
      width: 100%;

      nav {
        background-color: $Color-Oscuro2;
      }

      form {
        width: 25%;

        .btn {
          width: 150px;
          background-color: $Color-Medio;
          color: black;
          border: none;
          box-shadow: 3px 3px black;
        }
      }

    }

    main {
      width: 80%;
      display: flex;
      flex-direction: column;
      margin: 100px 0;


      .panelRespuestabusqueda {
        width: 100%;

        #btnCancelarBusqueda {
          display: none;
          @extend %botones;

          .btn {
            @extend %flex;
          }

        }
      }

      .contenedor {
        width: 70%;
        margin: 30px auto;
        background-color: $Color-Claro2;
        @extend %border-card;

        @include tablets {
          width: 85%;
        }

        @include mobile {
          width: 95%;
        }

        .panelForm {
          width: 95%;
          margin-top: 30px;

          .btn {
            @extend %botones;
          }
        }

        .panelRespuesta {
          width: 95%;


          .btn {
            @extend %botones;
          }
        }

        .panelPrestamo {
          width: 95%;
          display: none;
          margin-bottom: 30px;

          .btn {
            @extend %botones;
          }

        }

      }
    }
  }
}